h1{
	margin:0;
	margin-left:20%;
	text-align: center;
	background-color: beige;
	padding:10px;
}
body {
	margin:0;
	background-color: lightgrey;
	background-image: url("../images/main.jpg");
	background-attachment: fixed;
	background-position:right;
	background-position: 20%; 
}
p {	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:50px;
	color: lawngreen;
	padding:25px;	
	background-color: black;
	margin:0;
	}
article {
}
video {
	background-color:black;
	padding: 15px;
	border-style:solid;
	box-shadow:0px 0px 10px 10px black;
	margin: 100px;
	border-radius: 5px;
	left: 70%;
}
#EDBD {
	float:left;
}
br{
	clear:both;
}
img{
	padding:100px;
	background-color: lightgreen;
	border-radius: 10px;
}
.sidebar {
	left: 0;
	top:0;
	position:absolute;
	width:20%;
	box-shadow:0px 0px 100px 5px black;
}
.content{
	margin-top:0;
	margin-left:20%;
}